<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/PracticeNew/src/test/java">
        <groups>
            <run>
                <include name="a"/>
            </run>
        </groups>
<!--        <classes>-->
<!--            <class name="test"/>-->
<!--            <class name="Parlle2"/>-->
<!--        </classes>-->

    </test>
</suite>